{% if section_index_entries %}
<ol class="document-list">
  {% for item in section_index_entries %}
  <li>
    <a href="{{ config.base_url | safe }}/{{ item.path }}">{{ item.title }}</a>
    {% if item.kind %}
    <span class="document-kind">
      {% if item.kind == "book" %}Libro {% elif item.kind == "conference" %}Conferencia {% elif item.kind == "fragment" %}Fragmento {% else %}{{ item.kind }} {% endif %}
    </span>
    {% endif %}
  </li>
  {% endfor %}
</ol>
{% elif section_index_source.subsections %}
<ol class="document-list">
  {% for sub_path in section_index_source.subsections %}
  {% set sub = get_section(path=sub_path) %}
  <li>
    <a href="{{ sub.permalink | safe }}">{{ sub.title }}</a>
  </li>
  {% endfor %}
</ol>
{% elif section_index_source.pages %}
<ol class="document-list">
  {% for page_item in section_index_source.pages %}
  <li>
    <a href="{{ page_item.permalink | safe }}">{{ page_item.title }}</a>
  </li>
  {% endfor %}
</ol>
{% endif %}
